$color_1: #bdbdbd;
$color_2: #cdcdcd;
$color_3: #42be2a;
$color_4: gray;
$background-color_1: #e4e5e7;
$background-color_2: #e0e5ea;

body {
  background-color: $background-color_1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  min-width: 50vh;
}
.input-group {
  border: 1px solid rgb(13, 110, 253);
  border-radius: var(--bs-border-radius);
}
#deleteAll {
  margin-top: 20px;
}
.container {
  max-width: 600px;
}
.bh {
  height: 40px;
}
html {
  min-width: 50vh;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: $color_1;
}
.task-title--done {
  text-decoration: line-through;
  color: $color_2;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: $color_3;
  font-size: 32px;
}
.btn-action {
  background-color: $background-color_2;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $background-color_2;
    opacity: 1;
  }
  img {
    pointer-events: none;
  }
}
.none {
  display: none !important;
}
.float-right {
  float: right;
}
.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: $color_4;
  text-align: center;
  margin-bottom: 30px;
}
